{% import 'macro/svg.html' as SVG %}
{% import 'macro/head.html' as HEAD %}
<!doctype html>
<html lang="en">
<head>
  {{ HEAD.meta_link() }}
  <title>忘记密码 - 4KHub影视天堂</title>
  <!-- CSS files -->
  <link href="../static/css/tabler.min.css" rel="stylesheet"/>
  <link href="../static/css/style.css" rel="stylesheet"/>
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <style>
        .div-a{ float:left;width:50%}
        .div-b{ float:right;}
     </style>
</head>
<body class="d-flex flex-column"
      style="position:fixed; top:0; left:0; right:0; bottom:0; overflow:hidden; background-image:url(data:image/jpg;base64,{{ LoginWallpaper|safe }}); background-size:cover; background-position:center; background-repeat:repeat;">
<div class="page page-center" style="overflow:auto">
  <div class="container-tight py-4" style="overflow:auto">
    <form id = "myFrm" action="/forgetpassword" class="card card-md" method="post" autocomplete="off"
          style="{% if LoginWallpaper %}background-color:rgba(255,255,255,0.5);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px){% endif %}">
        <input type="hidden" name="next"  value="{{ GoPage }}"/>
        <input type="hidden" name="register_text" id="register_text"  value="0"/>
        <input type="hidden" name="access_token" id="access_token"  value="{{ access_token }}"/>
        <div class="card-body">
        <div class="text-center mb-0">
          <label class="form-label"><h2>4KHub影视天堂 重置密码</h2></label>
        </div>

        <label class="form-label">用户名<font color="#FF0000">*</font></label>
        <div class="input-icon mb-3">
            <span class="input-icon-addon">
              {{ SVG.user() }}
            </span>
            <input type="text" name="username" class="form-control {% if err_msg %}is-invalid{% endif %}"
                 placeholder="用户名" value="{{ username }}" autocomplete="off">
        </div>

        <label class="form-label">邮箱<font color="#FF0000">*</font></label>
        <div class="input-icon mb-3">
            <span class="input-icon-addon">
              {{ SVG.svg_email() }}
            </span>
          <input type="text" class="form-control {% if err_msg %}is-invalid{% endif %}" name="email"
                 placeholder="邮箱" autocomplete="off" value="{{ email }}">
        </div>
        <label class="form-label">邮箱验证码<font color="#FF0000">*</font></label>

        <div>
            <div class="input-icon mb-3" style="display: inline-block;">
            <span class="input-icon-addon">
              {{ SVG.shieldcheck() }}
            </span>
            <input type="text" class="form-control {% if err_msg %}is-invalid{% endif %}" name="email_code"
                 placeholder="邮箱验证码" autocomplete="off">
            </div>

            <button id="send_email_code" type="submit" class="btn btn-primary" style="display: inline-block;" >发送验证码</button>
        </div>
        <div class="invalid-feedback mb-3" id="register_promptmsg" style="display:block">{{ prompt_msg }}</div>

{#        <div id="h-cf" {% if err_msg %} class="form-control is-invalid mb-3" {% else %} class="mb-3"  {% endif %}>#}
{#            <!-- <div class="h-captcha" data-sitekey="0450b7b5-2edb-4e1e-8c5b-dc84448a3b0b"></div>#}
{#            <div class="cf-turnstile" data-sitekey="0x4AAAAAAALk4qxTqVMXENm3"></div>-->#}
{#            {% if use_cf %}#}
{#                <div class="cf-turnstile" data-sitekey="0x4AAAAAAALk4qxTqVMXENm3"></div>#}
{#            {% else %}#}
{#                <div class="h-captcha" data-sitekey="0450b7b5-2edb-4e1e-8c5b-dc84448a3b0b"></div>#}
{#            {% endif %}#}
{#        </div>#}

        <label class="form-label">新密码<font color="#FF0000">*</font></label>
        <div>
            <table>
                <tr>
                    <td>
                        <div class="input-icon mb-3">
                        <span class="input-icon-addon">
                            {{ SVG.keyboard() }}
                        </span>
                        <input type="password" class="form-control {% if err_msg %}is-invalid{% endif %}" id="password" name="password"
                                placeholder="新密码" autocomplete="off" value="{{ password }}">
                        </div>
                    </td>
                    <td>
                        <div id="eye">
                            {{ SVG.eyeclosed() }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="invalid-feedback mb-3" id="login_retmsg" style="display:block">{{ err_msg }}</div>
        <div class="form-footer">
          <button id="register" type="submit" class="btn btn-primary w-100">重置密码</button>
        </div>

        <div class="mb-0">
            <div class="div-a"><a href="/">返回</a></div>
            <div class="div-b"><a href='https://t.me/www_4khub_xyz' class="text-muted" title='加入官方Telegram频道，和小姐姐随时交流' target="_blank" rel="noreferrer">遇到问题？</a></div>
        </div>
      </div>

    </form>

  </div>
</div>
<script src="../static/js/tabler.min.js"></script>
<script src="../static/js/demo.min.js"></script>
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script>
    function heredoc(fn) {
        return fn.toString().split('\n').slice(1,-1).join('\n') + '\n'
    }
    $(document).ready(function() {
        //var domain = document.domain;
        //var sonDiv = document.createElement("div")
        //if (domain.indexOf("4khub.xyz") != -1){
        //    sonDiv.className = "cf-turnstile";
        //    sonDiv.setAttribute("data-sitekey", "0x4AAAAAAALk4qxTqVMXENm3");
        //} else {
        //    sonDiv.className = "h-captcha";
        //    sonDiv.setAttribute("data-sitekey", "0450b7b5-2edb-4e1e-8c5b-dc84448a3b0b");
        //}
        //var hcf = document.getElementById("h-cf");
        //hcf.appendChild(sonDiv)
        //$('h-cf').appendChild(sonDiv)
        // 点击“全选”复选框
      $('#send_email_code').click(function() {
            $("#register_text").attr("value","1");
      });

      $('#eye').click(function() {
        var eye = document.getElementById("eye");
        var password = document.getElementById("password");

          if (password.type == "password") {
                    password.type = "text";
                    var tmpl = heredoc(function(){/* {{ SVG.eye()  }} */});
                    eye.innerHTML = tmpl
            }else {
                    password.type = "password";
                    var tmpl = heredoc(function(){/* {{ SVG.eyeclosed() }} */});
                    eye.innerHTML = tmpl
            }
      });
    });
</script>
</body>

</html>