{% import 'macro/svg.html' as SVG %}
{% import 'macro/head.html' as HEAD %}
<!doctype html>
<html lang="en">
<head>
  {{ HEAD.meta_link() }}
  <title>登录 - 4KHub影视天堂</title>
  <!-- CSS files -->
  <link href="../static/css/tabler.min.css" rel="stylesheet"/>
  <link href="../static/css/style.css" rel="stylesheet"/>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
 <style>
.div-a{ float:left;width:50%}
.div-b{ float:right;}
</style>
</head>
<body class="d-flex flex-column"
      style="position:fixed; top:0; left:0; right:0; bottom:0; overflow:hidden; background-image:url(data:image/jpg;base64,{{ LoginWallpaper|safe }}); background-size:cover; background-position:center; background-repeat:repeat;">
<div class="page page-center">
  <div class="container-tight py-4">
    <form class="card card-md" action="/" method="post" autocomplete="off"
          style="{% if LoginWallpaper %}background-color:rgba(255,255,255,0.5);-webkit-backdrop-filter:blur(10px);backdrop-filter:blur(10px){% endif %}">
      <input type="hidden" name="next" value="{{ GoPage }}"/>
      <div class="card-body">
        <div class="text-center mb-4">
          <a href="/" class="navbar-brand navbar-brand-autodark"><img src="../static/img/logo-blue.png" height="48"
                                                                      alt=""></a>
        </div>
        <label class="form-label">用户名</label>
        <div class="input-icon mb-3">
            <span class="input-icon-addon">
              {{ SVG.user() }}
            </span>
          <input type="text" name="username" id="username" class="form-control {% if err_msg %}is-invalid{% endif %}"
                 placeholder="用户名" value="" autocomplete="off">
        </div>
        <label class="form-label">密码</label>
        <div class="input-icon mb-3">
            <span class="input-icon-addon">
              {{ SVG.keyboard() }}
            </span>
          <input type="password" class="form-control {% if err_msg %}is-invalid{% endif %}" id="password" name="password"
                 placeholder="密码" autocomplete="off">
        </div>

{#        <div class="mb-3">#}
{#          <div class="h-captcha" data-sitekey="0450b7b5-2edb-4e1e-8c5b-dc84448a3b0b"></div>#}
{#        </div>#}

        <div class="invalid-feedback mb-3" id="login_retmsg" style="display:block">{{ err_msg }}</div>
        <div class="mb-3">
          <label class="form-check">
              <div class="mb-0">
                  <div class="div-a">
                      <input type="checkbox" name="remember" class="form-check-input" checked/>
                      <span class="form-check-label">保持登录</span>
                  </div>
                  <div class="div-b">
                      <input type="checkbox" id="probation" name="probation" class="form-check-input" onclick="calc();"/>
                      <span class="form-check-label">免注册试用<span class="form-help"
                                                               title="勾选免注册试用，将使用guest账号登录试用，但guest账号功能受限，不能获取4KHub影视天堂精品资源等，体验完整服务请注册4KHub影视天堂~"
                                                               data-bs-toggle="tooltip">?</span>
                      </span>
                  </div>
              </div>
          </label>
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100">登录</button>
        </div>
          <div class="mb-0">
              <div class="div-a"><a href="/register">注册</a> |  <a href="/forgetpassword">忘记密码</a></div>
              <div class="div-b"><a href="https://bbs.4khub.xyz/" target="_blank" title="遇到问题可到社区求助">官方社区</a> |  <a href='https://t.me/www_4khub_xyz' class="text-muted" title='加入官方Telegram频道，和小姐姐随时交流' target="_blank" rel="noreferrer">遇到问题？</a></div>
          </div>
      </div>

    </form>

  </div>
</div>
<script src="../static/js/tabler.min.js"></script>
<script src="../static/js/demo.min.js"></script>
<script>
    function calc(){
        if (document.getElementById('probation').checked)
          {
              document.getElementById('password').value = 'password'
              document.getElementById('username').value = 'guest'
          } else {
              document.getElementById('password').value = ''
              document.getElementById('username').value = ''
          }
    }
</script>
</body>

</html>