{% if is_charge %}
<link rel="stylesheet" href="https://g.alicdn.com/apsara-media-box/imp-web-player/2.19.0/skins/default/aliplayer-min.css" />
<!-- 请下载之后使用 -->
<script type="text/javascript" charset="utf-8" src="/static/js/aliplayercomponents-1.0.9.min.js"></script>
<style type="text/css">
.vip-join {
  color: #00c1de;
}

.vip_limit_content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.vip_limit_content .title {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.vip_limit_button_box {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.vip_limit_btn {
  display: inline-block;
  min-width: 100px;
  position: relative;
  background: #f60;
  padding: 0 35px;
  margin: 0px 5px 20px 5px;
  border-radius: 38px;
  font-size: 18px;
  line-height: 38px;
  color: #623A0C;
  text-align: center;
  background-image: linear-gradient(-135deg, #FBE8A8 0%, #F8E7AC 15%, #E2C078 100%);
  cursor: pointer;
}

.vip_limit_close {
  text-align: center;
}
.vip_limit_close span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  background: rgba(165, 165, 165, 0.54);
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}
</style>
<div class="container" style="width: 90%; height: 100%; margin: 20px auto">
<h3 class="top_title">{{ vod_name }} {% if media_type == 'MOVIE' %} {% else %}第{{ current_index}}集 {% endif %}</h3>
<div id="player-con" style="z-index: 10"></div>
<p></p>
<div>
{% if media_type == 'MOVIE' %}
{% else %}
    {% for i in range(play_count) %}
        <a href='javascript:vod_play_tst("{{ i }}", "{{vod_name}}", "{{vod_id }}")'><span id="index{{ i }}" class="badge badge-outline {% if loop.index == current_index %}text-bg-orange{% else %}text-orange{% endif %}">第{{ loop.index }}集</span></a>
    {% endfor %}
{% endif %}
</div>
<p></p>
<p><div><span class="badge badge-outline text-blue">如遇卡顿请切换播放源或刷新页面，资源来源于互联网，字幕及广告非本站推送~</span></div></p>
</div>

<script type="text/template" id="endPreviewTemplate">
  <div class="vip_limit_content">
    <div class="vip_limit_wrap">
      <p class="title">{% if display_buy_vip %}开通VIP会员观看完整视频{% else %}购买观看完整视频{% endif %}</p>
      <div class="vip_limit_button_box">
        <a class="vip_limit_btn">{% if display_buy_vip %}购买VIP会员{% else %}购买{% endif %}</a>
      </div>
      <div class="vip_limit_close"><span class="vip_limit_close_btn">x</span></div>
    </div>
  </div>
</script>
<script>
    function destory(){
        player{{ dp_id }}.dispose(); //销毁
        console.log("xiaohui")
    }
    console.log("onbeforeunload")
    window.onbeforeunload = destory;

    var saveTime = function (memoryVideo,currentTime) {
    localStorage.setItem(memoryVideo, currentTime);
  }

  var getTime = function (memoryVideo) {
    //return返回的是自定义起播时间
    return localStorage.getItem(memoryVideo)
  }
  var source_str = '{% for j in vod_play_list %}"{{ j.name }}":"{{ j.url }}",{% endfor %}';
  source_str = "{" + source_str.substr(0, source_str.length - 1) + "}";
  //source_str = JSON.stringify(source_str);
  localStorage.setItem("source_map",source_str)
  var player{{ dp_id }} = new Aliplayer({
    id: "player-con",
    source: source_str,
    width: "100%",
    height: "500px",
    autoplay: true,
    preload: true,
    keyShortCuts: true,
    isLive: false,
    components: [
    {% if not is_buy %}
    {
      name: 'PreviewVodComponent',
      type: AliPlayerComponent.PreviewVodComponent,
      args: [{{free_seconds}}, '#endPreviewTemplate', {% if display_buy_vip %}`<a href='javascript:navmenu("/my_member")' class="vip-join">开通VIP会员</a> 观看完整视频`{% else %}`<a href='javascript:window.history.go(-1)' class="vip-join">购买</a> 观看完整视频`{% endif %}]
    },
    {% else %}
    {
      name: 'PreviewVodComponent',
      type: AliPlayerComponent.PreviewVodComponent,
      args: [0,null,null]
    },
    {% endif %}
    {
      name: 'PlaylistComponent',
      type: AliPlayerComponent.PlaylistComponent,
      args: [[
            {% for j in vod_play_list %}
                {   name: '{{ j.name }}',
                    source: '{{ j.url }}'
                },
            {% endfor %}
          ]]
    },
    {
      name: 'MemoryPlayComponent', //上次播放位置
      type: AliPlayerComponent.MemoryPlayComponent,
      args:[false,getTime,saveTime]
    },
    {
      name: 'RateComponent', //倍数播放
      type: AliPlayerComponent.RateComponent
    },
    {
      name: 'QualityComponent',
      type: AliPlayerComponent.QualityComponent,
      args: [function(definition,desc) {
        //console.log(definition + '-----' + desc)
      }]
    }
    ]
  }, function (player{{ dp_id }}) {

    player{{ dp_id }}.on('sourceloaded', function(params) {
      var paramData = params.paramData
      var desc = paramData.desc
      var definition = paramData.definition
      player{{ dp_id }}.getComponent('QualityComponent').setCurrentQuality(desc, definition)
    })

    var curTime = 0
    player{{ dp_id }}.on('playing',function (params){
        curTime = parseInt(player{{ dp_id }}.getCurrentTime())
    })
    player{{ dp_id }}.on('error',function(params){
        var free_seconds = 999999999
      {% if not is_buy %}
          free_seconds = parseInt({{free_seconds}})
      {% endif %}
        console.log(curTime)

      var source_map =  JSON.parse(localStorage.getItem("source_map"))
      var new_source_url = ''
      var vod_id = '{{vod_id}}'
      var e_url = ''
      for(var i in source_map){
        if(-1 != player{{ dp_id }}.getSourceUrl().search(source_map[i])){
            e_url = source_map[i]
            setTimeout(()=>{
                ajax_post("vod_error_update", {
                      "error_url": e_url,
                      "vod_id":vod_id
                    }, function (ret) {})
            },5000);
            delete source_map[i]
        } else {
          new_source_url = source_map[i]
        }
      }
      localStorage.setItem("source_map",JSON.stringify(source_map))
      player{{ dp_id }}.loadByUrl(new_source_url)
    })
    /* You can register a click event with the custom DOM string to trigger an action, for example, to pop up a dialog box for VIP registration. */
    var vip_limit_btn = document.querySelector('.vip_limit_btn')
    vip_limit_btn.addEventListener('click', function() {
        {% if display_buy_vip %}
            //confirm('确认去开通会员吗?')
            navmenu("/my_member")
        {% else %}
            //confirm('确认去购买吗?')
            window.history.go(-1);
        {% endif %}
    })

    var close_btn = document.querySelector('.vip_limit_close_btn')
    close_btn.addEventListener('click', function() {
      /* Call the closePreviewLayer method to close the dialog box */
      player{{ dp_id }}.getComponent('PreviewVodComponent').closePreviewLayer()
    })
  });


</script>

{% else %}
<!--
{#<link rel="stylesheet" href="/static/css/style/DPlayer.min.css">#}
{#<script src="/static/js/DPlayer.min.js"></script>#}
-->
<!--v1.27.1只有一个js没有css -->

<script src="/static/js/DPlayer.min_v1.27.1.js"></script>


<script src="/static/js/hls.min.js"></script>
{#<script src="/static/js/docute.js"></script>#}
{#<script src="/static/js/config.js"></script>#}
{#<script src="/static/js/docsearch.js"></script>#}
<style>
    .dplayer-logo {
        pointer-events: none;
        position: absolute;
        left: 20px;
        top: 20px;
        max-width: 120px;
        max-height: 50px
    }
    .dplayer-menu,
    .dplayer-mask {
        display: none !important;
    }
</style>
<div class="container" style="width: 90%; height: 100%; margin: 20px auto">
        <h3 class="top_title">{{ vod_name }} {% if media_type == 'MOVIE' %} {% else %}第{{ current_index}}集 {% endif %}</h3>
        <div id="dplayer" style="z-index: 10"></div>
        <p></p>
        <div>
        {% if media_type == 'MOVIE' %}
        {% else %}
            {% for i in range(play_count) %}
                <a href='javascript:vod_play_tst("{{ i }}", "{{vod_name}}", "{{vod_id }}")'><span id="index{{ i }}" class="badge badge-outline {% if loop.index == current_index %}text-bg-orange{% else %}text-orange{% endif %}">第{{ loop.index }}集</span></a>
            {% endfor %}
        {% endif %}
        </div>
        <p></p>
        <p><div><span class="badge badge-outline text-blue">如遇卡顿请切换播放源或刷新页面，资源来源于互联网，字幕及广告非本站推送~</span></div></p>
        </div>

<script>

const dp{{ dp_id }}  = new DPlayer({
    container: document.getElementById('dplayer'),
    autopaly:true,
    lang:'zh-cn',
    preload:'auto',
    screenshot: false,
    hotkey:true,
    contextmenu:[],
    mutex:true,
    chromecast:true,
    airplay:true,
    logo: '/static/img/logo.png',
    volume: 0.7,
    video: {
        quality: [
            {% for j in vod_play_list %}
                {   name: '{{ j.name }}',
                    url: '{{ j.url }}',
                    type: 'auto'
                },
            {% endfor %}
            ],
        defaultQuality: 0
    }
});
<!--
{#var my_quality = [#}
{#            {% for j in vod_play_list %}#}
{#                {   name: '{{ j.name }}',#}
{#                    url: '{{ j.url }}',#}
{#                    type: 'auto'#}
{#                },#}
{#            {% endfor %}#}
{#            ]#}
{##}
{#var count = my_quality.length#}
{#var index2 = 0#}
{#var vod_id = '{{vod_id}}'#}
{#var e_url = ''#}
{#dp{{ dp_id }}.on('error', function () {#}
{#    var quality = dp{{ dp_id }}.quality#}
{#    var index2 = dp{{ dp_id }}.qualityIndex#}
{#    e_url = quality.url#}
{#    name = quality.name#}
{#    console.log('player err:' + e_url + " name:"+ name + " index:"+index2);#}
{#    index2 = index2 + 1#}
{#    if (index2 < count){#}
{#        setTimeout(()=>{#}
{#            ajax_post("vod_error_update", {#}
{#                  "error_url": e_url,#}
{#                  "vod_id":vod_id#}
{#                }, function (ret) {})#}
{#        },5000);#}
{#        console.log("switch index:"+index2)#}
{#        dp{{ dp_id }}.switchVideo(my_quality[index2])#}
{#    }#}
{#});#}
-->
dp{{ dp_id }}.on('pause', function () {
    <!--
    {#console.log('player:'+ my_quality[index2].name + 'url:' + my_quality[index2].url);#}
    {#index2 = index2 + 1#}
    {#if (index2 < count){#}
    {#    dp{{ dp_id }}.switchVideo(my_quality[index2])#}
    {#}#}

    {#var q = dp{{ dp_id }}.quality#}
    {#var j = dp{{ dp_id }}.qualityIndex#}
    {#e_url2 = q.url#}
    {#name2 = q.name#}
    {#console.log('player:' + e_url2 + " name:"+ name2 + " index:"+j);#}
        -->
});

</script>
{% endif %}
